@use "sass:list";
@use "./functions";
@use './_variables';

@mixin modifiers($map, $attribute, $prefix: '', $separator: '-', $base: 'base') {

    @each $key,
    $value in $map {
        &#{if($key != $base, #{$prefix}#{$key},
        '')
    }

        {
        @if type-of($value)=='map' {
            @include modifiers($value, $attribute, $separator);
        }

        @else {
            #{$attribute}: $value;
        }
    }
}
}


@mixin grid($columns: 0, $rows: 0, $gap: 0) {
    display: grid;
    @if $columns != 0 {
        grid-template-columns: repeat($columns, minmax(0, 1fr));
    }
    @if $rows != 0 {
        grid-template-rows: repeat($rows, minmax(0, 1fr));
    }
    @if $gap != 0 {
        gap: spacing($gap);
    }
}

@mixin unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin typo($_type: none) {
    @if type-of(map-deep-get($typos, $_type)) == "map" {
        @each $key, $value in map-deep-get($typos, $_type) {
            #{$key}: $value
        }
    }
}