@import './_variables.scss';
@import './mixins.scss';
@import './fonts.scss';
@import './utilities.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-size: 16px;
}

html {
    overflow: hidden;
}

html, body {
    margin: 0;
    font-size: var(--font-size);
}


body {
    background-color: color("background");
    @include typo(text1);
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans Font', 'Open Sans', sans-serif;
    line-height: 1;
    letter-spacing: .5px;
}

p {
    margin: 0;
}


iframe {
    border: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

input, textarea, select {
    @include typo(title5);
    font-weight: 400;
    &::placeholder {
        @include typo(title7);
        font-weight: 400;
    }
}

label {
    @include typo(label);
}

/// @deprecated
.layout-component {
 --mt: 0;
 --mb: 0;
 --ml: 0;
 --mr: 0;
 --pt: 0;
 --pb: 0;
 --pl: 0;
 --pr: 0;
 --gap: 0;

  gap: calc(spacing(1) * var(--gap));

  padding-left: calc(spacing(1) * var(--pl));
  padding-right: calc(spacing(1) * var(--pr));
  padding-bottom: calc(spacing(1) * var(--pb));
  padding-top: calc(spacing(1) * var(--pt));

  margin-left: calc(spacing(1) * var(--ml));
  margin-right: calc(spacing(1) * var(--mr));
  margin-bottom: calc(spacing(1) * var(--mb));
  margin-top: calc(spacing(1) * var(--mt));
}