@import './_variables.scss';
@import './mixins.scss';
@import './fonts.scss';
@import './utilities.scss';

html, body {
    margin: 0;
    font-size: 15px;
}

@include media-down(md) {
    html {
        font-size: 13px;
    }
}
body {
    background-color: color("background");
    @include typo($_type: text);
}

pre.code {
    font-size: 0.75rem;
    background-color: #0f172a;
    background-color: rgba(15, 23, 42, 1);
    color: #fff;
    color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.25rem;
    overflow: auto;
}

/* * {
    scrollbar-color: color("primary", 600) color("primary", 100);
    scrollbar-width: thin;
}

*::-webkit-scrollbar-track {
  background-color: color("primary", 100);
}

*::-webkit-scrollbar-thumb {
    background-color: color("primary", 600);
}
*::-webkit-scrollbar {
    width: spacing(1);
} */

iframe {
    border: none;
}

.layout-component {
 --mt: 0;
 --mb: 0;
 --ml: 0;
 --mr: 0;
 --pt: 0;
 --pb: 0;
 --pl: 0;
 --pr: 0;
 --gap: 0;

  gap: calc(spacing(1) * var(--gap));

  padding-left: calc(spacing(1) * var(--pl));
  padding-right: calc(spacing(1) * var(--pr));
  padding-bottom: calc(spacing(1) * var(--pb));
  padding-top: calc(spacing(1) * var(--pt));

  margin-left: calc(spacing(1) * var(--ml));
  margin-right: calc(spacing(1) * var(--mr));
  margin-bottom: calc(spacing(1) * var(--mb));
  margin-top: calc(spacing(1) * var(--mt));
}